<div class="card border-primary mb-3">
    <div class="card-header">Convocar a Docentes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Docentes</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Titulo</th>
                    <th>Carga Laboral</th>
                    <th>Convocar como CV</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let docentes of listacvinculacion">
                    <ng-container *ngIf="docentes.estado==false">
                    <td>{{docentes.cedula}}</td>
                    <td>{{docentes.nombres}}</td>
                    <td>{{docentes.apellidos}}</td>
                    <td>{{docentes.titulo}}</td>
                    <td>{{docentes.carga}}</td>
                    <td>
                        <button (click)="guardarcv(docentes)" type="button" class="btn btn-success" >CONVOCAR</button>
                    </td>
                    </ng-container>               
                </tr>
            </tbody>
        </table>

    </div>
</div>

<ng-container *ngIf="issloading">
    <div class="bss-loader">
       <img [src]="loader" alt=""> 
    </div>
  </ng-container>
