<ng-container *ngIf="issloading">
    <div class="bss-loader">
       <img [src]="loader" alt=""> 
    </div>
  </ng-container>
  <div class="card border-primary mb-3">
    <div class="card-header">Cordinadores de Vinculacion</div>
    <div class="card-body text-primary">
        <div class="example-container mat-elevation-z8">
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
        
          <mat-table #table [dataSource]="dataSource" >
        
            <!-- Position Column -->
            <ng-container matColumnDef="cedula">
              <mat-header-cell *matHeaderCellDef> Cédula. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.cedula}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="nombres">
              <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.nombres}} </mat-cell>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="apellidos">
              <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.apellidos}} </mat-cell>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="titulo">
              <mat-header-cell *matHeaderCellDef> Tiulo </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.titulo}} </mat-cell>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="carga">
              <mat-header-cell *matHeaderCellDef> Cargo </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.carga}} </mat-cell>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef> ASIGNADO </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="boton">
              <mat-header-cell *matHeaderCellDef> DAR CARGO/QUITAR CARGO </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div class="col-sm-6">
                  <button  mat-raised-button color="warn" *ngIf="element.estado else button_asignar" (click)="quitarcv(element)">QUITAR CARGO</button>
                  <ng-template #button_asignar>
                      <button  mat-raised-button color="primary" (click)="guardarcv(element)" >DAR CARGO</button> 
                  </ng-template>
              </div> </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>

    </div>
</div>