    <div
      class="card border-primary mb-3"
      style="max-width: 18rem"
      *ngIf="data" routerLink="/panel/user/{{data.idEntidad}}"
    >
      <div class="card-header">
        <h4>{{data.nombre}}</h4>
      </div>
      <div class="card-body">
        <p class="card-text">
          Email: {{data.emailEntidad}} 
          <br/>Teléfono: {{data.telefonoEntidad}} 
          <br/>Fecha creación: {{data.fechaCreacion}}
          <br>Creado por: {{data.nombreCoordinador}}
        </p>
      </div>
      <div class="card-footer bg-transparent border-success">
        Representante: {{data.representante}}
        <br>Email: {{data.emailRepresentante}}
        <br>Teléfono: {{data.celularRepresentante}}
      </div>
    </div>
  
  