<form class="formulario" >
    <table style="width:100%; height:100%;" class="bss-table-borderless" class="table table-striped table-responsive-md btn-table">
        <thead class="thead-dark center-block">
          <tr class="active">
            <div class="row-fluid">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <img />
                </div>
              </div>
            </div>
          </tr>
        </thead>
 <tbody>
    <tr colspan="2" class="d-flex" class="text-center">
            <h2 class="bss-txt-content" style="font-size: 22px;">
                SEGUIMIENTO, CONTROL Y EVALUACIÓN (PARCIAL) DEL PLAN DE APRENDIZAJE<br /> 
                PROYECTOS DE VINCULACIÓN CON LA SOCIEDAD <br />
                INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY <br />
            </h2>
    </tr>
     <tr>
     <table style="width:100%; height:90%;" class="table table-bordered">
              <tbody>
                <tr> 
                    <th colspan="4" scope="col"><strong>SELECIONE EL PRAN DE APRENDIZAJE PARA DAR SEGUIMIENTO</strong> <select class="form-control"  style="width: 100%;" name="select" (change)="selectProyecto($event)" >
                      <option value="">SELECCIONE</option>
                      <option *ngFor="let item of anexo6" [value]="item.id">{{item.id}}- -{{item.nombreProyecto}}- -{{item.nombreEstudiante}}</option>
                    </select>
                    </th>  
                </tr>
                <tr> 
                  <th colspan="4" scope="col"><strong>Datos Informativos:</strong>  
                  </th>
                </tr>
              <tr>
                 <td colspan="2" scope="col">
                     <div [formGroup]="addForm">
                        <table>
                            <td>
                                <button mat-raised-button color="primary" (click)="onAddRow()" *ngIf="addForm.get('rows')">AGREGAR</button>
                            </td>
                            <tbody>
                                <tr *ngFor="let row of addForm.get('rows')?.controls;let index = index;">
                                    <td colspan="" scope="col "> <strong>Actividades realizadas por el estudiante:</strong><select class="form-control" style="width: 100%;" name="select"  [formControl]="row.get('actividadesEstudiante')">
                                        <option value="SL">SELECCIONE</option>
                                        <option *ngFor="let item of anexo6es.actividades" [value]="item.actividad">{{item.id}}- -{{item.actividad}}- -{{item.totalHoras}}</option>
                                        </select>
                                    </td>
                                  <td >  
                                    <tr>
                                    <h5>Avance de la
                                        Actividad (%)
                                        </h5>
                                    <div class="bss-table-borderless">
                                      <div class="form-group">
                                        <br>	
                                        <table class="table table-bordered table-striped" style="border: transparent;">
                                         <tbody> 
                                            <tr>
                                              <td>
                                              <input type="number" class="form-control" [formControl]="row.get('controlEstudiante')">
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                   </tr>
                                </td>
                                  <td colspan="" scope="col "> <strong>Evolución del desempeño estudiante en la ejecución de la actividad:</strong><select class="form-control" style="width: 100%;" name="select" [formControl]="row.get('desempenoEstudiante')">
                                    <option value="SL">SELECCIONE</option>
                                      <option value="Poco Satisfactorio">Poco Satisfactorio</option>
                                      <option value="Satisfactorio" >Satisfactorio</option>
                                      <option value="Muy Satisfactorio">Muy Satisfactorio</option>       
                                    </select>
                                </td>
                                <td colspan="" scope="col "> <strong>Las asignaturas base permitieron lograr el resultado de la actividad:</strong><select class="form-control" style="width: 100%;" name="select" [formControl]="row.get('asignaturasBase')">
                                    <option value="SL">SELECCIONE</option>
                                      <option value="SI" >SI</option>
                                      <option value="NO" >NO</option> 
                                    </select>
                                </td>
                                <td> <button mat-raised-button color="warn" (click)="onRemoveRow(index)">ELIMINAR</button> </td>
                            </tbody>
                         </table>
                     </div>
                 </td> 
              </tr>
        </tbody>
      </table>
          </tr>
        </tbody>
      </table> 
    <div class="col text-center" style="display: block; margin: 0 auto;"> 
      <button class="btn btn-primary" (click)="guardar()">GUARDAR PLAN DE APRENDIZAJE</button>&nbsp;&nbsp;
      </div>
 </form>
