<!--------------------------------------------------FORMULARIO----------------------------------------------------------------------- -->
<!-- table table-borderless -->
<!-- table table-bordered -->

<form class="formulario" ngNativeValidate (ngSubmit)="proyectos" >
    <table style="width:100%; height:100%;" class="bss-table-borderless" class="table table-striped table-responsive-md btn-table">
        <thead class="thead-dark center-block">
          <tr class="active">
            <div class="row-fluid">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <img [src]="ista" alt="Logo" />
                </div>
                
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <img [src]="secretaria" alt="Logo" width="180" height="70" class="bss-img-content" />
                </div>
              </div>
            </div>
          </tr>
        </thead>
        <tbody>
          <tr colspan="2" class="d-flex" class="text-center">
            <h2 class="bss-txt-content" style="font-size: 22px;">
              (CREACIÓN DE PROYECTO) <br />INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY <br />
              CORDINADOR DE CARRERA <br />
            </h2>
          </tr>
          <tr>
            <table style="width:95%; height:90%;" class="table table-bordered">
              <tbody>
                <tr>
                  <th colspan="4" scope="col " ><strong>FECHA CREACIÓN: {{fecha}}</strong>
                </tr>
                <tr> 
                  <th colspan="4" scope="col"><strong>NOMBRE:</strong> <input type="text" class="form-control" value="" class="col-md-5" style="background-color:transparent; "   [(ngModel)]="proyectos.nombre" name="nombre" required /> 
                  </th>
                </tr>
                <tr> 
                  <th colspan="4" scope="col"><strong>LINEA DE ACCIÓN:</strong> <select class="form-control" (change)="selectLineaAccion($event)" style="width: 100%;" name="select">
                    <option value="Tecnica">Asesoría Técnica</option>
                    <option value="Comunitario" selected>Trabajo Comunitario</option>
                    <option value="☐Capacitación" selected>Capacitación</option>
                  </select>
                  </th>
                </tr>
                <tr>
                  <td > <strong>CARRERA:</strong><select class="form-control" (change)="selectCarreta($event)" style="width: 100%;" name="select">
                    <option value="" selected>Seleccione</option>
                      <option *ngFor="let item of listacarrera" [value]="item.codigo"> {{item.codigo}}-{{item.nombre}} </option>
                  </select></td>
                  <td colspan="3"> <strong>Estado: </strong><select class="form-control" (change)="selectEstado($event)" style="width: 100%;" name="select">
                    <option value="true">TRUE</option>
                    <option value="false" selected>FALSE</option>
                  </select></td>
                </tr>
                <tr> 
                  <th colspan="4" scope="col"><strong>ENTIDAD BENEFICIARIA</strong>
                    <select class="form-control" (change)="selectEntidadBeneficaria($event)" style="width: 100%;" name="select">
                      <option value=""selected>Seleccione</option>
                      <option *ngFor="let item of entity" [value]="item.idEntidad"> {{item.idEntidad}}-{{item.nombre}} {{item.representante}}</option>
                      </select> 
                  </th>
                </tr>
                <tr> 
                  <th colspan="2" scope="col"><strong>Plazo de Ejecición</strong>
                    <input type="text" class="form-control" value="" class="col-md-5" style="background-color:transparent; "   [(ngModel)]="proyectos.plazoEjecucion" name="plazoEjecucion" required />
                  </th>
                  <th  scope="col"><strong>Fecha Inicio</strong>
                    <input type="date" class="form-control" value="" class="col-md-5" style="background-color:transparent; "   [(ngModel)]="proyectos.fechaInicio" name="fechaInicio" required />
                  </th>
                  <th  scope="col"><strong>Fecha Fin</strong>
                    <input type="date" class="form-control" value="" class="col-md-5" style="background-color:transparent; "   [(ngModel)]="proyectos.fechaFin" name="fechaFin" required />
                  </th>
                </tr>
                <tr> 
                  <th colspan="4" scope="col"><strong>RESPONSABLE</strong>
                    <select class="form-control" (change)="selectResposablepp($event)" style="width: 100%;" name="select">
                      <option value=""selected>Seleccione</option>
                      <option *ngFor="let resppp of resPPP"  [value]="resppp.id"> <ng-container *ngIf="resppp.estado==true" >{{resppp.id}}-{{resppp.cedula}}</ng-container></option>
                      </select> 
                  </th>
                </tr> 
                <tr> 
                  <th colspan="3" scope="col"><strong>Programa de Vinculación: </strong>
                    <input type="text" class="form-control" value="" class="col-md-5" style="background-color:transparent;" [(ngModel)]="proyectos.programaVinculacion" name="programaVinculacion" required>
                  </th>
                  <th colspan="1" scope="col"><strong>Alcance Territoral: </strong>
                   <select name="select" id="" class="form-control" (change)="selectalcanceTerritorial($event)" required>
                    <option value="SL">Seleccione</option>
                    <option value="Nacional">Nacional</option>
                    <option value="Provincial">Provincial</option>
                    <option value="Cantonal">Cantonal</option>
                    <option value="Parroquial">Parroquial</option>
                    <option value="Institucional">Institucional</option>
                    <option value="Internacional">Internacional</option>
                   </select>
                  </th>
                </tr>
                <tr> 
                  <th colspan="3" scope="col"><strong>Objetivo Generales: </strong>
                    <textarea style="background-color:rgb(255, 255, 255);color:rgb(0, 0, 0);"  rows="3" cols="100" [(ngModel)]="proyectos.objetivoGeneral" name="objetivoGeneral" ></textarea>
                  </th>
                  <th>
                    <tr [formGroup]="addForm"> 
                      <th  scope="col"><strong>Objetivo Especifico: </strong>
                        <button  mat-raised-button color="primary"  (click)="onAddRow()" *ngIf="addForm.get('rows')">NUEVA OBJETIVO</button>
                        <br> <br>
                          <tr *ngFor="let row of addForm.get('rows')?.controls;let index = index;">
                            <td>
                              descripcion : <input type="text" class="form-control" [formControl]="row.get('descripcion')">
                            </td>
                            <td>
                              <button mat-raised-button color="warn" (click)="onRemoveRow(index)">QUITAR</button>
                            </td>
                          </tr>
  
                      </th>
                    </tr>    
                  </th>
                </tr>
                   
              </tbody>
            </table>
            <br> <br>
          </tr>
        </tbody>
      </table> <br>
    <div class="col text-center"> 
      <button (click)="crearproyecto()" class="btn btn-primary">GUARDAR</button>&nbsp;&nbsp;
      </div>
    
    </form>
