<form class="formulario"  >
    <table style="width:95%; height:100%;" class="table" >
    <tbody> 

          <table style="width:100%; height:90%;" class="table" style="background-color: rgb(223, 236, 252);">
                  <tr colspan="4" class="active">
                    <div class="row-fluid"> 
                            <img class="centrado" [src]="ista" width="180" height="120"   />
                    </div>
                  </tr> 
                <tr colspan="4" class="d-flex" class="text-center">
                  <h2 class="bss-txt-content" style="font-size: 14px;">
                    <b>INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY </b><br/> 
                    <b>COORDINACIÓN DE VINCULACIÓN CON LA SOCIEDAD</b><br />
                   <b>INFORME DE CULMINACIÓN DEL PROYECTO DE VINCULACIÓN</b> 
                  </h2>
                </tr>
              
          </table>
          <div style='text-align:right' >
            <br>
            <strong class="texto">                                     
              Cuenca.</strong> <b class="texto2"> {{fech}}   .</b>
          </div>

      
          <tr>
            <table  style="width:100%; height:90%;background-color: rgb(250, 250, 250);"  class="table">
               <tbody>
                    <tr>
                      <td rowspan="3" colspan="2"scope="col" style="background-color: rgb(235, 235, 235);">
                        <strong class="texto2">DATOS DEL PROYECTO:</strong>
                        <select  class="form-control"  (change)="selectProyecto($event)" style="width: 100%" name="select" required>
                          <option value="SL">Seleccione</option>
                          <option *ngFor="let item of anexo3" [value]="item.idProyectoPPP">{{item.nombreproyecto}} </option>
                      </select>
                      </td> 
                    </tr>
                    <tr>
                      <td colspan="2" scope="col">
                        <strong class="texto">NOMBRE:</strong><b class="texto2"> {{nombreproyecto}} </b><br>
                        <strong class="texto">DIRECTOR:</strong><b class="texto2"> {{director}} </b>
                      </td>          
                     
                    </tr>
                  
                  </tbody>
                </table>
              </tr>
              <tr>
                <table  style="width:100%; height:90%;background-color: rgb(250, 250, 250);"  class="table">
                   <tbody>
                     <tr>
                      <td colspan="3" style="background-color: rgb(235, 235, 235);">
                        <strong class="texto2">DATOS DEL DOCENTE DE APOYO ASIGNADO:</strong> 
                      </td>
                      <td colspan="3" style="background-color: rgb(211, 211, 211);">
                        <strong class="texto2">DATOS GENERALES DE LA EMPRESA / INSTITUCIÓN</strong> 
                      </td>
                     </tr>
                        <tr>
                            <td colspan="3" >
                              <strong class="texto">NOMBRE COMPLETO:</strong> <b class="texto2"> {{nombreDocenteapoyo}}</b><br>
                              <strong class="texto">CÉDULA DE IDENTIDAD:</strong> <b class="texto2"> {{cedulaDocenteApoyo}}</b><br>
                              <strong class="texto">CORREO:</strong> <b class="texto2"> {{correo_DocenteApoyo}}</b>
                            </td>               
                            <td colspan="3" >
                              <strong class="texto">NOMBRE:</strong> <b class="texto2"> {{nombreEmpresa}}</b><br>
                              <strong class="texto">DIRECCIÓN:</strong> <b class="texto2"> {{direccion}}</b><br>
                              <strong class="texto">CIUDAD:</strong> <b class="texto2">  {{ciudad}}</b>
                            
                            
                            </td> 
                       </tr>  
                      
                  
                      
                      </tbody>
                    </table>
                  </tr>
      
      




              <tr>
                <table  style="width:100%; height:90%;background-color: rgb(250, 250, 250);" class="table">
                   <tbody>
                     <tr>
                      <td  colspan="4" style="background-color: rgb(235, 235, 235);">
                        <strong class="texto2">DATOS DEL ESTUDIANTE:</strong> 
                  
                      </td>
                     </tr>
                    <tr>
                     
                      <td colspan="1" scope="col"><strong class="texto">NOMBRE COMPLETO: </strong><b class="texto2"> {{nombre}} </b></td>          
                      <td colspan="1" scope="col"><strong class="texto">CÉDULA DE IDENTIDAD:</strong><b class="texto2"> {{cedula}} </b></td>
                      <td colspan="1" scope="col"><strong class="texto">ÚLTIMO CICLO APROVADO:</strong><b class="texto2"> {{cicl}}</b></td>
                     
                    </tr>
                   
                    <tr>
                     
                      <td colspan="1" scope="col"><strong class="texto" for="correo">CORREO ELECTRÓNICO:</strong>
                        <input type="email"  class="form-control" style="background-color:transparent;font-size: 18px;" [(ngModel)]="correo" name="correo"required />
                      </td>
                   
                      <td colspan="1" scope="col"><strong class="texto" for="telefono">TELÉFONO:</strong>
                        <input type="text"  class="form-control" style="background-color:transparent;font-size: 18px;" [(ngModel)]="telefono" name="telefono" required />
                      </td>
                      <td colspan="1" scope="col">
 
                     
                    </tr>
            
               </tbody>
             </table>
           </tr>

   
           <tr>
            <table  style="width:100%; height:90%;background-color: rgb(250, 250, 250);" class="table">
               <tbody>
                <tr>
                  <td colspan="3" style="background-color: rgb(235, 235, 235);">
                    <strong class="texto2"> DATOS DEL ADMINISTRADOR DEL PROYECTO (ENTIDAD RECEPTORA):</strong>  
                    
                  </td> 
                  <td  colspan="3" style="background-color: rgb(211, 211, 211);">
                    <strong class="texto2"> PERIODO DE DURACIÓN DEL PROYECTO DE VINCULACIÓN</strong>  
                  </td> 
                </tr> 
                <tr> 
                  <td colspan="3" scope="col">
                    <strong class="texto">NOMBRE DEL ADMINISTRADOR: </strong><b class="texto2"> {{nombreAdministrador}} </b><br>
                    <strong class="texto">CÉDULA DEL ADMINISTRADOR:</strong><b class="texto2"> {{cedulaAdministrador}} </b> <br>
                    <strong class="texto">CORREO ELECTRÓNICO:</strong><b class="texto2"> {{correoAdministrador}}</b> 
                  </td>          
          

                  <td colspan="1"  ><strong class="texto" for="horasRealizadas">HORAS REALIZADAS:</strong>
                    <input type="number"  class="form-control" style="background-color:transparent;font-size: 18px;" [(ngModel)]="horasRealizadas" name="horasRealizadas"required />
                  </td>
    
                  <td colspan="1"  ><strong class="texto" for="fechaInicio">FECHA DE INICIO:</strong>
                    <input type="date"  class="form-control" style="background-color:transparent;font-size: 18px;" [(ngModel)]="fechaInicio" name="fechaInicio" required />
                  </td>
                  <td colspan=""  ><strong class="texto" for="fechaFin">FECHA DE FIN:</strong>
                    <input type="date"  class="form-control" style="background-color:transparent;font-size: 18px;" [(ngModel)]="fechaFin" name="fechaFin" required />
                  </td> 
                </tr>
        
           </tbody>
         </table>
       </tr>

       <tr>
        <table  style="width:100%; height:100%;background-color: rgb(250, 250, 250);" class="table">
           <tbody>
           <tr> 
            <td colspan="6" style="background-color: rgb(235, 235, 235);"><strong  class="texto2">DESCRIPCIÓN DE LA EMPRESA/INSTITUCIÓN:</strong>  
            </td>
         </tr>
         <tr>
           <td>
            <textarea style="background-color:rgb(255, 255, 255);color:rgb(0, 0, 0);"  rows="3" cols="100" [(ngModel)]="anexo10.descripcionEmpresa" name="descripcionEmpresa">                             
            </textarea> 
           </td> 
         </tr>
        </tbody>
      </table>
    </tr>
           <tr>
 
              <table  style="width:100%; height:90%;background-color: rgb(250, 250, 250);" class="table"> 
                <tr>
                  <td colspan="2" scope="col " style="background-color: rgb(235, 235, 235);"> <strong class="texto2"> DESCRIPCIÓN DETALLADA DE ACTIVIDADES REALIZADAS</strong></td>
                </tr>
                <tr>
                  <td colspan="2" scope="col"> <button class="btn btn-success" (click)="onAddRow()" *ngIf="addForm.get('rows')">REGISTRAR ACTIVIDADES</button></td>
                </tr>
                <tbody>
                 
                      <tr *ngFor="let row of addForm.get('rows')?.controls;let index = index;">
                        <td>   
                            <strong>ACTIVIDADES GENERALES</strong>
                              <div class="form-group"> 
                                 <input type="text" class="form-control" style="background-color:transparent;font-size: 18px;" [formControl]="row.get('ActividadesGenerales')">
                              </div> 
                        </td>
                        
                        <td>    
                          <strong>ACTIVIDADES ESPECÍFICAS</strong>
                            <div class="form-group">
                               <input type="text" class="form-control" style="background-color:transparent;font-size: 18px;"  [formControl]="row.get('ActividadesEspecificas')">
                          </div> 
                        </td>
                                    
                        <td> 
                          <strong>  PRODUCTO GENERADO:</strong>
                            <div class="form-group"> 
                               <input type="text" class="form-control" style="background-color:transparent;font-size: 18px;" [formControl]="row.get('ProductoGenerado')">               
                          </div> 
                        </td>
                        
                        <td> 
                          <div>
                            <button class="btn btn-outline-danger" (click)="onRemoveRow(index)">ELIMINAR</button> 
                          </div>
                       </td> 
                    </tr>

                  
                    </tbody>
             </table>
       </tr>


       <tr>
        <table  style="width:100%; height:90%;background-color: rgb(250, 250, 250);" class="table">
           <tbody>

       <tr> 
        <td colspan="2" scope="col"><strong style="text-align-last: end;" class="texto2">CONCLUSIONES:</strong> 
         <br>
          <textarea style="background-color:rgb(255, 255, 255);color:rgb(0, 0, 0);"  rows="3" cols="60" [(ngModel)]="anexo10.conclusiones" name="conclusiones">                             
          </textarea>
        </td>
        <td colspan="2" scope="col"><strong style="text-align-last: end;" class="texto2">RECOMENDACIONES:</strong> 
          <br>
           <textarea style="background-color:rgb(255, 255, 255);color:rgb(0, 0, 0);"  rows="3" cols="60" [(ngModel)]="anexo10.recomendaciones" name="recomendaciones">                             
           </textarea>
         </td>
     </tr>
     <br>
     <tr>
      <td colspan="8" >
        <button style="align-self: center;" class="btn btn-info"  (click)="save()" >GUARDAR INFORME</button>
      </td>
     </tr>
     </tbody>
        </table>
       </tr> 
    </tbody>
  </table> 
 </form>