<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="">
    <title>Sistema PPP</title>
</head>
<body class="bst-body-content" [ngStyle]="{'background-image': 'url('+fondo+')'}">
    <style type="text/css">  </style>
    <div  *ngIf="habilitar == true">
      <div id="divisor">
        <fieldset class="bst-fieldset-content">
            <h1 style="text-align: center; font-size: larger;"><strong>INGRESO</strong></h1>
            <p style="text-align: center;"> Para ingresar en este aplicativo necesitas 
            <br>ser mienbro de la comunidad educativa
            <br>@tecazuay.edu.ec
            <br>
            <div id="imagen">
              <img [src]="logog" class="mx-auto d-block" width="40px" height="40px" />
            </div>
            <br>
          <div id="boton">
            <button (click)="signInWithGoogle()" type="button" class="btn btn-primary">Ingresar</button>
          </div>
        </fieldset>
      </div>
    </div>
    <div *ngIf="habilitar == false">
      <div id="divisor" class="container">
        <fieldset class="bst-fieldset-content">
            <h1 style="text-align: center; font-size: larger;"><strong>RESGISTRO</strong></h1>
            <p style="text-align: center;">
              <p style="text-align: center;"> OHH!! Al paracer es nuevo.
                <br>Para continuar debe
                <br>ingresar su CI para su correspondiente validación
                <div>
                  <form #form="ngForm" ngNativeValidate> 
                    <br>
                       <input  placeholder="Cédula de identidad" class="form-control" [(ngModel)]="userRequest.cedula" name="cedula" type="text" style="text-align: center;" pattern="[0-9]{10}" #cedula="ngModel" required/>
                   <br>
                   <div *ngIf="!form.valid"  class="alert alert-danger">Cédula no valida</div>
                   <div id="boton">
                    <button type="button" class="btn btn-primary" (click)="create()" [disabled]="!form.valid">Continuar</button>
                  </div>
                  </form>                 
                </div> 
        </fieldset>
      </div>
    </div>
  </body>
</html>

<ng-container *ngIf="issloading">
  <div class="bss-loader">
     <img [src]="loader" alt=""> 
  </div>
</ng-container>
