<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <img [src]="loader" alt=""> 
   </center>
  </div>
</ng-container>
<div *ngIf="issloading==false">
  <div class="card border-primary mb-3">
    <div class="card-header"> RESPONSABLE PARA PRÁCTICAS PRE-PROFESIONALES</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Docentes asignados actualmente</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Cédula</th>
                    <th>Nombres</th>
                    <th>Remover Cargo</th>
                </tr>
            </thead>
            <tbody *ngIf="resPPP.cedula != ''">
                <tr>
                    <!-- <td>{{resPPP.id}}</td> -->
                    <td>{{resPPP.cedula}}</td>
                    <td>{{resPPP.nombres_completo}}</td>
                    <td>
                        <button type="button" (click)="quitar(resPPP)" class="btn btn-danger" >Remover Cargo</button>
                    </td>  
  
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <div class="card border-primary mb-3">
    <div class="card-header" style="cursor: pointer" (click)="setHabilitar()" >ASIGNAR DOCENTE COMO RESPONSABLE DE PRÁCTICAS PRE-PROFESIONALES </div>
    <div class="card-body text-primary">
        <div class="example-container mat-elevation-z8">
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
            </mat-form-field>
          </div>
        
          <mat-table #table [dataSource]="dataSourcedoc" >
        
            <!-- Position Column -->
            <ng-container matColumnDef="cedula">
              <mat-header-cell *matHeaderCellDef> Cédula. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.cedula}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="nombres_completo">
              <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.nombres_completo}} </mat-cell>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="titulo">
              <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.titulo}} </mat-cell>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="docente_tipo_tiempo">
              <mat-header-cell *matHeaderCellDef> Carga Laboral </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.docente_tipo_tiempo}} </mat-cell>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="materias">
              <mat-header-cell *matHeaderCellDef> Materias </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <select class="btn btn-outline-ligth dropdown-toggle" >
                  <option matNativeControl class="" *ngFor="let materia of element.materias" disabled selected>{{materia.nombre}}</option>
                </select>
              </mat-cell>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="carreas">
              <mat-header-cell *matHeaderCellDef> Título </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <select class="btn btn-outline-ligth dropdown-toggle">
                  <option  matNativeControl class="" *ngFor="let carrera  of element.carreas" disabled selected>{{carrera.nombrecarrera}}</option>
                </select>
              </mat-cell>
            </ng-container>
             <!-- Symbol Column -->
            <ng-container matColumnDef="boton">
              <mat-header-cell *matHeaderCellDef> Asignar Cargo </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div class="col-sm-6">
                  <button  mat-raised-button color="primary"  (click)="saverppp(element.cedula)">DAR CARGO</button>
              </div> </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
  
    </div>
  </div>
</div>
