<ng-container *ngIf="issloading">
    <div class="bss-loader" style="margin: auto;">
      <center>
        <img [src]="loader" alt=""> 
     </center>
    </div>
  </ng-container>
<div class="card border-primary mb-3" *ngIf="issloading==false" >
    <div class="card-header" >Seguimiento parcial del Plan de Aprendizaje:</div>
    <div class="card-body text-primary">
            <h5 class="card-title">Listado:</h5>
            <br> <br>
            <div class="example-flex-container">
                <div class="float-container" *ngFor="let anexos of anexo61">
                            <div class="card text-dark bg-light mb-3 float-container">
                                <div class="card-body">
                                   <p class="card-text"> Director: {{anexos.nombreDirector}}</p>
                                   <p class="card-text"> Docente apoyo: {{anexos.nombreApoyo}}</p>
                                   <p class="card-text"> Proyecto: {{anexos.idProyecto}} </p>
                              </div>
                            <div class="card-header">
                               <div class="example-flex-container"  >
                                   <button type="button" (click)="convertFile(anexos.documento)" class="btn btn-secondary">FIRMAR DOCUMENTO</button>
                                   <button type="button" (click)="update(anexos)" class="btn btn-primary">SUBIR DOCUMENTO FIRMADO</button>
                               </div>
                               </div>
                            </div>
                </div>
            </div>
    </div>
</div>

