<div class="dsc-left-nav-brand">
  <div class="dsc-left-nav-brand__logo">
      <img [src]="logo" alt="designicode-logo"/>
      <span></span>
  </div>
</div>
<div class="dsc-left-nav-usr">
  <div class="dsc-left-nav-usr__avatar"  [ngStyle]="{'background-image': 'url('+foto+')'}">
  </div>
  <h6 class="dsc-left-nav-usr__position">{{rolnombre}}</h6>
</div>

<ng-container >
        <div [ngSwitch]="persona.rol">
          <div id="sidebar-accordion" class="accordion">
    
            <!--Autoridad-->
            <div class="list-group" *ngSwitchCase="'AUT'">
              <a [routerLink]="['/panel/cvinculacion/listcv']" routerLinkActive="active" routerLinkActive="active"
                class="list-group-item list-group-item-action bg-dark text-light"
              >  Convocar a Docentes como Cordinadores de Vinculacion
              </a>
              <a [routerLink]="['/crear_cv']" routerLinkActive="active"
                 class="list-group-item list-group-item-action bg-dark text-light">
                 Documentacion
               </a>
            </div>
    
            <!--estudiante-->
            <div class="list-group" *ngSwitchCase="'EST'">     
              <a [routerLink]="['/panel/proyecto/convocatoria',persona.cedula]" class="list-group-item list-group-item-action bg-dark text-light">
                <i class="fa fa-shopping-cart mr-3" aria-hidden="true"></i>
                Ver convocatorias Actuales
              </a>
              <a class="list-group-item list-group-item-action bg-dark text-light">
                <i class="fa fa-shopping-cart mr-3" aria-hidden="true"></i>
                Realizar Solicitud
              </a>
            </div>
    
            <!--Responsable PPP -Convocatoria -->
            <div class="list-group" *ngSwitchCase="'RPPP'">
              <a  [routerLink]="['/panel/proyecto/actrqs']" href=""  class="list-group-item list-group-item-action bg-dark text-light">
                Asignar actividades a Proyectos
              </a>
              <a  [routerLink]="['/panel/proyecto/convopracticas']" href=""  class="list-group-item list-group-item-action bg-dark text-light">
                Crear convocatorias
              </a>
            </div>
    
            <!--Coordinador de carrear -->
            <div class="list-group" *ngSwitchCase="'CC'">
            <a [routerLink]="['/panel/proyecto/createrespon',persona.cedula]" routerLinkActive="active"
              class="list-group-item list-group-item-action bg-dark text-light"
            >  Asignar Responsable PPP
            </a>
              <a [routerLink]="['/panel/proyecto/create',persona.cedula]" routerLinkActive="active"
              class="list-group-item list-group-item-action bg-dark text-light"
            >  Crear Nuevo Proyecto
            </a>
            <a [routerLink]="['/panel/proyecto/createmienbros',persona.cedula,persona.nombrescompletos]" routerLinkActive="active"
              class="list-group-item list-group-item-action bg-dark text-light">
              Asignar Miebros del Proyecto
            </a>
            <a [routerLink]="['/panel/proyecto/listar']" routerLinkActive="active"
              class="list-group-item list-group-item-action bg-dark text-light">
              Ver proyecto Actuales
            </a>
            <a [routerLink]="['/crear_cv']" routerLinkActive="active"
               class="list-group-item list-group-item-action bg-dark text-light">
               Documentacion
             </a>
          </div>
    
            <!--Coordinador de vinculacion -->
            <div class="list-group" *ngSwitchCase="'CV'">
              <a
                [routerLink]="['/panel/user/create',persona.id]" routerLinkActive="active"
                class="list-group-item list-group-item-action bg-dark text-light"
              >
                Crear entidad beneficiaria
              </a>   
    
              <a
                [routerLink]="['/panel/user/list']" routerLinkActive="active"
                class="list-group-item list-group-item-action bg-dark text-light"
              >
              Lista de Entidades
              </a>
    
              <a
                class="list-group-item list-group-item-action bg-dark text-light"
              >
                Informacion
              </a>   
            </div>
    
    
    
          </div>
        </div>
</ng-container>
