<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <img [src]="loader" alt=""> 
   </center>
  </div>
</ng-container>
<div *ngIf="issloading==false">
  <form class="formulario" ngNativeValidate (ngSubmit)="generarAnexo()">
    <table class="table" style="width:95%; height:100%;">
      <tr>
        <th>Creación de convocatoria
        </th>
      </tr>
      <tr>
        <th scope="row" colspan="4">
          <strong>SELECCIONE UN PROYECTO: </strong>
          <select
            (change)="selectProyecto($event)"
            class="form-control"
            style="width: 100%"
            name="select"
            required>
            <option value="SL">Seleccione</option>
            <option *ngFor="let item of listproyecto" [value]="item.id">
              {{ item.nombre }}
            </option>
          </select>
        </th>
      </tr>
      <tr>
        <th colspan="4">
          <p>Carrera: {{proyecto.carrera}} </p>
        </th>
      </tr>
      <tr>
        <th colspan="4">
          <p>Nombre del proyecto a participar: {{proyecto.nombre}}</p>
        </th>
      </tr>
      <tr>
        <th colspan="4">
          <p>Entidad beneficiaria: {{nombreetidad}}</p> 
        </th>
      </tr>
      <tr>
        <th colspan="4">
          <strong class="texto">Convoca a los estudiantes de los ciclos </strong><input type="text" class="form-control" placeholder="EX:TERCERO Y CUARTO" required [(ngModel)]="anexo2.ciclo" name="ciclo">  
        </th>
      </tr>  
      <tr>
        <th colspan="4">
          <strong class="texto">Fecha máxima de recepción de solicitudes:</strong>
          <input class="form-control" type="date" [(ngModel)]="anexo2.fechaMaxRecepcion" name="fechaMaxRecepcion" required /> 
        </th>
      </tr>
  
      <tr>
        <th>
          <h3>Actividades</h3>
        </th>
      </tr>
      <tr style="width: 100%">
        <th>
          <strong class="texto">Descripción de actividad: Emisión de la convocatoria </strong><br>
          <strong class="texto">Fecha inicio: </strong> <br>
          <strong class="texto">Fecha fin:    </strong>
        </th>
        <th>
          <br>
          <input type="date" class="form-control" value='fecha' [(ngModel)]="fechae1" name="fechae1" required /> <br>
          <input type="date" class="form-control" [(ngModel)]="fechae2" name="fechae2" required>
        </th>
        <th>
          <strong class="texto">Descripción de actividad: Recepción de solicitudes </strong><br>
          <strong class="texto">Fecha inicio: </strong> <br>
          <strong class="texto">Fecha fin:    </strong>
        </th>
        <th>
          <br>
          <input type="date" class="form-control" [(ngModel)]="fechar1" name="fechar1" required /> <br>
          <input type="date"  class="form-control" [(ngModel)]="fechar2" name="fechar2" required>
        </th>
      </tr>
      <tr style="width: 50%">
        <th>
          <strong class="texto">Descripción de actividad: Proceso de selección </strong><br>
          <strong class="texto">Fecha inicio: </strong> <br>
          <strong class="texto">Fecha fin:    </strong>
        </th>
        <th>
          <br>
          <input type="date" class="form-control" [(ngModel)]="fechap1" name="fechap1" required /> <br>
          <input type="date" class="form-control" [(ngModel)]="fechap2" name="fechap2" required>
        </th>
        <th>
          <strong class="texto">Descripción de actividad: Notificación de resultados </strong><br>
          <strong class="texto">Fecha inicio: </strong> <br>
          <strong class="texto">Fecha fin:    </strong>
        </th>
        <th> 
          <br>
          <input type="date" class="form-control" [(ngModel)]="fechan1" name="fechan1" required /> <br>
          <input type="date"  class="form-control" [(ngModel)]="fechan2" name="fechan2" required>
        </th>
      </tr>       
      <tr>
        <th colspan="5">
          <strong class="texto" >Email</strong><input  class="form-control" [(ngModel)]="correo" name="correo" type="email">
        </th>
      </tr>
      <tr>
        <th>
          <button class="btn btn-primary">GUARDAR</button>&nbsp;&nbsp;
        </th>
      </tr>     
    </table>
  </form>
</div>

 
    
  
  