<form class="formulario" ngNativeValidate (ngSubmit)="generarAnexo()">
    <table class="table" style="width:95%; height:100%;">
      <tr>
        <th>
          <h5>Creacion de convocatoria</h5>
        </th>
      </tr>
      <tr>
        <th scope="row" style="width: 50%;">
          <strong>SELECCIONE UN PROYECTO: </strong>
          <select
            (change)="selectProyecto($event)"
            class="form-control"
            style="width: 100%"
            name="select"
            required>
            <option value="SL">Seleccione</option>
            <option *ngFor="let item of listproyecto" [value]="item.id">
              {{ item.nombre }}
            </option>
            <option></option>
          </select>
        </th>
      </tr>
      <tr>
        <th>
          <p>Carrera: {{proyecto.carrera}} </p>
        </th>
        <th>
          <p>Nombre del proyecto a participar: {{proyecto.nombre}}</p>
        </th>
      </tr>
      <tr>
        <th>
          <p>Entidad beneficiaria: {{nombreetidad}}</p> 
        </th>
      </tr>
      <tr>
        <th>
          <strong class="texto">Convoca a los estudiantes de los ciclos </strong><input type="text" class="impnumber" placeholder="EX:TERCERO Y CUARTO" required [(ngModel)]="anexo2.ciclo" name="ciclo">  
        </th>
      </tr>  
      <tr>
        <th>
          <strong class="texto">Fecha maxima de recepcion de solicitudes:</strong>
          <input class="impnumber" type="date" [(ngModel)]="anexo2.fechaMaxRecepcion" name="fechaMaxRecepcion" required /> 
        </th>
      </tr>
  
      <tr>
        <th>
          <h3>Avtividades</h3>
        </th>
      </tr>
      <tr style="width: 100%">
        <th>
          <strong>Descripcion de actividad: Emisión de la convocatoria </strong><br>
          <strong>Fecha inicio: </strong> <br>
          <strong>Fecha fin:    </strong>
        </th>
        <th>
          <br>
          <input type="date" class="impnumber" value='fecha' [(ngModel)]="fechae1" name="fechae1" required /> <br>
          <input type="date" class="impnumber" [(ngModel)]="fechae2" name="fechae2" required>
        </th>
        <th>
          <strong>Descricpcion de actividad: Recepción de solicitudes </strong><br>
          <strong>Fecha inicio: </strong> <br>
          <strong>Fecha fin:    </strong>
        </th>
        <th>
          <br>
          <input type="date" class="impnumber" [(ngModel)]="fechar1" name="fechar1" required /> <br>
          <input type="date"  class="impnumber" [(ngModel)]="fechar2" name="fechar2" required>
        </th>
      </tr>
      <tr style="width: 50%">
        <th>
          <strong class="texto">Descricpcion de actividad: Proceso de selección </strong><br>
          <strong class="texto">Fecha inicio: </strong> <br>
          <strong class="texto">Fecha fin:    </strong>
        </th>
        <th>
          <br>
          <input type="date" class="impnumber" [(ngModel)]="fechap1" name="fechap1" required /> <br>
          <input type="date" class="impnumber" [(ngModel)]="fechap2" name="fechap2" required>
        </th>
        <th>
          <strong class="texto">Descricpcion de actividad: Notificación de resultados </strong><br>
          <strong class="texto">Fecha inicio: </strong> <br>
          <strong class="texto">Fecha fin:    </strong>
        </th>
        <th> 
          <br>
          <input type="date" class="impnumber" [(ngModel)]="fechan1" name="fechan1" required /> <br>
          <input type="date"  class="impnumber" [(ngModel)]="fechan2" name="fechan2" required>
        </th>
      </tr>       
      <tr>
        <th>
          <strong class="texto" >Email</strong><input  class="impnumber" [(ngModel)]="correo" name="correo" type="email">
        </th>
      </tr>
      <tr>
        <th>
          <button class="btn btn-primary">GUARDAR</button>&nbsp;&nbsp;
        </th>
      </tr>     
    </table>
  </form>
 
    
  
  