<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <img [src]="loader" alt=""> 
   </center>
  </div>
</ng-container>
<div *ngIf="issloading==false">
  <table class="table table-striped table-responsive-md btn-table">
    <tr >
      <th> ASIGNAR ACTIVIDADES Y REQUISITOS</th>
    </tr>
    <tr >
      <th scope="row"> <strong>SELECCIONE UN PROYECTO: </strong><select (change)="selectProyecto($event)" class="form-control"  style="width: 100%;" name="select">
        <option value="SL">Seleccione</option>
        <option *ngFor="let item of listproyecto" [value]="item.id">{{item.id}}- -{{item.nombre}}- -{{item.carrera}}</option>
        <option></option>
      </select>
  </tr>
</table>
   <!-- table -->
<ng-container>
  <div class="bss-loader">
     <img  alt=""> 
  </div>
</ng-container>
<div class="card border-primary mb-3">
  <div class="card-header">Seleccione las materias necesarias</div>
  <div class="card-body text-primary">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
          </mat-form-field>
        </div>
      
        <mat-table #table [dataSource]="dataSource" >
      
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef> CÓDIGO </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> NOMBRES </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="boton">
            <mat-header-cell *matHeaderCellDef> Agregar </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="col-sm-6">
                <button  mat-raised-button color="primary" mat-raised-button color="primary"  (click)="onAddRowR(element.nombre)" *ngIf="addFormR.get('rowsR')">Agregar</button>
            </div> </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

  </div>
</div>
  <!-- Array requisitos -->
  <h5>REQUISITOS</h5>
  <div class="bss-table-borderless" [formGroup]="addFormR">
    <div class="form-group">
      <br>	
      <table class="table table-bordered table-striped" style="border: transparent;">
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let row of addFormR.get('rowsR')?.controls;let index = index;">
            <td>
              Descripción : <input type="text" class="form-control" [formControl]="row.get('descripcion')">
            </td>
            <td>
              <button mat-raised-button color="warn" (click)="onRemoveRowR(index)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- table -->
  <h5>ACTIVIDADES</h5>
  <div class="bss-table-borderless" [formGroup]="addForm">
    <div class="form-group">
      <br>	
      <table class="table table-bordered table-striped" style="border: transparent;">
        <button  mat-raised-button color="primary"  (click)="onAddRow()" *ngIf="addForm.get('rows')">NUEVA ACTIVIDAD</button>
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let row of addForm.get('rows')?.controls;let index = index;">
            <td>
              Descripción : <input type="text" class="form-control" [formControl]="row.get('descripcion')">
            </td>
            <td>
              <button mat-raised-button color="warn" (click)="onRemoveRow(index)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

<ng-container >
  <button mat-raised-button color="primary" (click)=" update()">GUARDAR</button>
</ng-container>
</div>


   
