.float-container {
  float: left;
  width: 500px;
  height: min-content;
  padding: 3px;
}
.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bss-loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

/* Structure */
.example-container {
display: flex;
flex-direction: column;
min-width: 300px;
}

.example-header {
min-height: 64px;
padding: 8px 24px 0;
}

.mat-form-field {
font-size: 14px;
width: 100%;
}

.mat-table {
overflow: auto;
max-height: 500px;
}