<div class="card border-primary mb-3"  >
    <div class="card-header" >Convocatoria</div>
    <div class="card-body text-primary">
            <h5 class="card-title">Listado de Proyectos Asignados</h5>
            <br> <br>
            <div class="example-flex-container">
                <div class="float-container" *ngFor="let anexos of anexo1">
                            <div class="card text-dark bg-light mb-3 float-container">
                                <div class="card-header"> Proyecto: {{anexos.nombreProyecto}}</div>
                                <div class="card-body">
                                   <p class="card-text"> Como: {{anexos.nombreRol}}</p>
                                   <p class="card-text"> Coordinador: {{anexos.nombreCoordinador}}</p>
                                   <p class="card-text"> Fecha: {{anexos.fechaDelegacion}}</p>
                                   <p class="card-text"> Carrera:: {{anexos.nombreCarrera}} </p>
                              </div>
                            <div class="card-header">
                               <div class="example-flex-container"  >
                                   <button type="button" (click)="convertFile(anexos.documento)" class="btn btn-secondary">FIRMAR DOCUMENTO</button>
                                   <button type="button" (click)="update(anexos)" class="btn btn-primary">SUBIR DOCUMENTO FIRMADO</button>
                               </div>
                               </div>
                            </div>
                </div>
            </div>
    </div>
</div>

