<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <img [src]="loader" alt=""> 
   </center>
  </div>
</ng-container>
<div *ngIf="issloading==false">
  <table class="table table-striped table-responsive-md btn-table">
    <tr >
      <th> ASIGNAR ESTUDIANTES A DOCENTE DE APOYO</th>
    </tr>
  <tr>
    <td>
      <strong>SELECCIONE UN DOCENTE DE APOYO: </strong> 
      <mat-form-field>
        <input matInput [formControl]="myControl" placeholder="FILTRAR">
      </mat-form-field>
      <select (change)="selectAlumnos($event)" class="form-control" style="width: 100%;" name="select">
        <option value="SL">SELECCIONE</option>
        <option *ngFor="let item of filteredOptions  | async" [value]="item.cedulaDelegado">  DOCENTE DE PROYECTO:{{item.nombreDelegado}}  PROYECTO: {{item.nombreProyecto}}    {{item.carrera}}</option>
      </select> 
    </td> 
  </tr>
  <br>
  <hr>
</table>
<div class="card border-primary mb-3">
  <div class="card-header">ALUMNOS</div>
  <div class="card-body text-primary">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
      
        <mat-table #table [dataSource]="dataSource" >
      
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="cedula">
            <mat-header-cell *matHeaderCellDef> CÉDULA </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cedula}} </mat-cell>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="nombresestudiante">
            <mat-header-cell *matHeaderCellDef> NOMBRES</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nombresestudiante}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="apellidosestudiante">
            <mat-header-cell *matHeaderCellDef> APELLIDOS</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.apellidosestudiante}} </mat-cell>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="boton">
            <mat-header-cell *matHeaderCellDef> SELECCIONAR </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="col-sm-6">
                <button  mat-raised-button color="primary" mat-raised-button color="primary" (click)="onAddRowR(element)" >Agregar</button>
            </div> </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

  </div>
</div>
 <!-- Array -->
 <h5>ASIGNADOS</h5>
 <div class="bss-table-borderless" [formGroup]="addFormR">
   <div class="form-group">
     <br>	
     <table class="table table-bordered table-striped" style="border: transparent;">
       <thead>
       </thead>
       <tbody>
         <tr *ngFor="let row of addFormR.get('rowsR')?.controls;let index = index;">
           <td>
            Cédula del Estudiante : <input type="text" class="form-control" [formControl]="row.get('cedulaEstudiante')" readonly>
           </td>
           <td>
            Nombres/Apellidos : <input type="text" class="form-control" [formControl]="row.get('nombreEstudiante')" readonly>
           </td>
           <td>
             <button mat-raised-button color="warn" (click)="onRemoveRowR(index)">QUITAR</button>
           </td>
         </tr>
       </tbody>
     </table>
   </div>

   <ng-container >
    <button mat-raised-button color="primary" (click)="guardar()" >GUARDAR</button>
  </ng-container>
</div>

