<div class="card border-primary mb-3">
    <div class="card-header">Cordinadores de Vinculacion</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Docentes que ahora estan en algun proceso de Vinculacion</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Titulo</th>
                    <th>Carga Laboral</th>
                    <th>Dar de bajo como CV</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let docentes of listacvinculacion">
                    <ng-container *ngIf="docentes.estado==true">
                    <td>{{docentes.cedula}}</td>
                    <td>{{docentes.nombres}}</td>
                    <td>{{docentes.apellidos}}</td>
                    <td>{{docentes.titulo}}</td>
                    <td>{{docentes.carga}}</td>
                    <td>
                        <button (click)="modificarcv(docentes)" type="button" class="btn btn-danger" >DAR DE BAJA</button>
                    </td>
                    </ng-container>               
                </tr>
            </tbody>
        </table>

    </div>
</div>

