<form class="formulario"  >
    <table style="width:95%; height:100%;" class="table" >
    <tbody> 
          <tr>
            <table style="width:100%; height:90%;" class="table">
               <tbody>

                   <tr> 
                       <th colspan="4" scope="col"><strong class="texto2">Datos Informativos:</strong> </th>
                   </tr>

                   <tr> 
                    <td  colspan="2" scope="col"><strong class="texto">NOMBRE DEL PROYECTO: {{proyecto.nombre}}</strong> </td>  
                   <tr>
                    <tr>
                        <td>
                            <strong>Fecha de seguimiento</strong> <input type="date"  class="form-control" style="background-color:transparent;font-size: 18px;" [(ngModel)]="informe1.fechaSeguimiento" name="fechaSeguimiento" required />
                        </td>
                        <td>
                            <strong>Fecha Inicio Real</strong> <input type="date"  class="form-control" style="background-color:transparent;font-size: 18px;" [(ngModel)]="informe1.fechaInicioReal" name="fechaInicioReal" required />
                        </td>
                        <td>
                            <strong>Fecha Fin Real</strong> <input type="date"  class="form-control" style="background-color:transparent;font-size: 18px;" [(ngModel)]="informe1.fechaFinReal" name="fechaFinReal" required />
                        </td>
                    </tr> 
               </tbody>
             </table>
           </tr>

           <tr>
              <table  style="width:100%; height:90%;background-color: rgb(240, 240, 240);" class="table"> 
                <tr>
                  <td colspan="4" scope="col " > <strong class="texto2">Informe:</strong></td>
                </tr>
                <tr>
                  <strong>Docentes Participantes</strong>
                </tr>
                <tbody>
                 
                      <tr *ngFor="let row of addForm.get('rows')?.controls;let index = index;">
                        <td scope="col">   
                            <strong>Cedula:</strong> 
                              <div class="form-group"> 
                                      <td>
                                      <input type="text" class="form-control"  [formControl]="row.get('cedula')" readonly>
                                      </td>
                              </div> 
                        </td>
                        
                        <td scope="col">    
                          <strong>Nombres</strong>
                            <div class="form-group">
                                    <td>
                                    <input type="text" class="form-control"  [formControl]="row.get('nombres')" readonly>
                                    </td>
                          </div> 
                        </td>
                                    
                        <td scope="col">    
                          <strong>Carreras</strong>
                            <div class="form-group">
                                    <td>
                                    <input type="text" class="form-control"  [formControl]="row.get('carrera')" readonly>
                                    </td>
                          </div> 
                        </td>

                        <td scope="col"> 
                          <strong>Número de Horas</strong>
                          <div class="form-group"> 
                            <td> 
                              <input type="number" style="font-size: 18px;" class="form-control" class="impnumber" [formControl]="row.get('numeroHoras')"/>
                             </td>
                        </div>
                        </td>
                    
                    </tr>

                    </tbody>           
             </table>

       </tr>

       <tr>
        <table  style="width:100%; height:90%;background-color: rgb(240, 240, 240);" class="table"> 
          <tr>
            <td colspan="4" scope="col " > <strong class="texto2">Informe:</strong></td>
          </tr>
          <tr>
            <strong>Alumnos Participantes</strong>
          </tr>
          <tbody>
           
                <tr *ngFor="let row of addForm1.get('rows')?.controls;let index = index;">
                  <td scope="col">   
                      <strong>Cedula:</strong> 
                        <div class="form-group"> 
                                <td>
                                <input type="text" class="form-control"  [formControl]="row.get('cedula')" readonly>
                                </td>
                        </div> 
                  </td>
                  
                  <td scope="col">    
                    <strong>Nombres</strong>
                      <div class="form-group">
                              <td>
                              <input type="text" class="form-control"  [formControl]="row.get('nombres')" readonly>
                              </td>
                    </div> 
                  </td>
                              
                  <td scope="col">    
                    <strong>Carreras</strong>
                      <div class="form-group">
                              <td>
                              <input type="text" class="form-control"  [formControl]="row.get('carrera')" readonly>
                              </td>
                    </div> 
                  </td>

                  <td scope="col"> 
                    <strong>Número de Horas</strong>
                    <div class="form-group"> 
                      <td> 
                        <input type="number" style="font-size: 18px;" class="form-control" class="impnumber" [formControl]="row.get('numeroHoras')"/>
                       </td>
                  </div>
                  </td>
              
              </tr>

              </tbody>
              <strong>Otra información:</strong>
              <tr>
                <td colspan="4" scope="col">
                    <strong>Situacion actual de Proyecto</strong> <input type="text"  class="form-control" style="background-color:transparent;font-size: 18px;" [(ngModel)]="informe1.situacionInicio" name="situacionInicio" required />
                </td>              
            </tr>
            <tr>
                <td colspan="4" scope="col">
                    <strong>Situacion actual de la Entidad</strong> <input type="text"  class="form-control" style="background-color:transparent;font-size: 18px;" [(ngModel)]="informe1.situacionActual" name="situacionActual" required />
                </td>
            </tr>
            
        
       </table>
 </tr>
 <tr>
    <table  style="width:100%; height:90%;background-color: rgb(240, 240, 240);" class="table"> 
      <tr>
        <td colspan="4" scope="col " > <strong class="texto2">Informe:</strong></td>
      </tr>
      <tr>
        <strong> Actividades</strong>
      </tr>
      <tbody>
       
            <tr *ngFor="let row of addForm2.get('rows')?.controls;let index = index;">
              <td scope="col">   
                  <strong>Actividad:</strong> 
                    <div class="form-group"> 
                            <td>
                            <input type="text" class="form-control"  [formControl]="row.get('actividades')" readonly>
                            </td>
                    </div> 
              </td>
              
              <td scope="col">    
                <strong>Porcenteje de avance</strong>
                  <div class="form-group">
                          <td>
                          <input type="number" class="form-control"  [formControl]="row.get('porcentajeCumplimiento')" readonly>
                          </td>
                </div> 
              </td>
                          
              <td scope="col">    
                <strong>Fecha de Ejecucion</strong>
                  <div class="form-group">
                          <td>
                          <input type="date" class="form-control"  [formControl]="row.get('fechaEjecucion')" readonly>
                          </td>
                </div> 
              </td>

              <td scope="col">    
                <strong>Responsble</strong>
                  <div class="form-group">
                          <td>
                          <input type="text" class="form-control"  [formControl]="row.get('responsableEjecucion')" readonly>
                          </td>
                </div> 
              </td>
              <td scope="col">    
                <strong>observaciones</strong>
                  <div class="form-group">
                          <td>
                          <input type="text" class="form-control"  [formControl]="row.get('observaciones')">
                          </td>
                </div> 
              </td>
          
          </tr>
          </tbody>           
   </table>

</tr>
<tr>
  <table  style="width:100%; height:90%;background-color: rgb(240, 240, 240);" class="table"> 
    <tr>
      <td colspan="4" scope="col " > <strong class="texto2">Informe:</strong></td>
    </tr>
    <tr>
      <td>
        <button mat-raised-button color="primary" (click)="onAddRow3()" *ngIf="addForm3.get('rows')">Nueva Observacion</button>
    </td>
    </tr>
    <tbody>
     
          <tr *ngFor="let row of addForm3.get('rows')?.controls;let index = index;">
            <td scope="col">   
                <strong>Observaciones:</strong> 
                  <div class="form-group"> 
                          <td colspan="4" scope="col ">
                          <input type="text" class="form-control"  [formControl]="row.get('descripcion')">
                          </td>
                          <td> <button mat-raised-button color="warn" (click)="onRemoveRow3(index)">ELIMINAR</button> </td>
                  </div> 
            </td>
        </tr>
        <tr>
          <td>
              <strong>Fecha de Entrega</strong> <input type="date"  class="form-control" style="background-color:transparent;font-size: 18px;" [(ngModel)]="informe1.fechaEntrega" name="fechaEntrega" required />
          </td>
          <td colspan="4" scope="col">
              <strong>Concluciones:</strong> <br> <textarea name="" id="" cols="100" rows="5" [(ngModel)]="informe1.conclusiones" name="conclusiones" required></textarea>
          </td>
      </tr>
      <tr>
        <td colspan="5" >
            <button  style="align-self: center;" class="btn btn-info" (click)="save()" >GUARDAR REGISTRO</button>  
        </td>
    </tr>
        </tbody>           
 </table>

</tr>

    </tbody>
  </table> 
 </form>

